{% javascripts '@OxygenUtilityBundle/Resources/public/js/*' output='js/medialibrary.js' %}
<script src="{{ asset_url }}" type="text/javascript" ></script>
{% endjavascripts %}
{% stylesheets '@OxygenUtilityBundle/Resources/public/css/*' output='css/medialibrary.css' %}
<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
<script type="text/javascript">
$(document).ready(function() {
  $('input#media_name').hide();
  $('select#media_location').change(function(){
    var path = $(this).val();
    $('#media_nameUploader').remove();
    $('#media_nameQueue').remove();
    $('#media_name').uploadify({
      'uploader'  : '/bundles/oxygenutility/uploadify/uploadify.swf',
      'script'    : '{% block upload_path %}{{ path('media_upload') }}{% endblock %}',
      'cancelImg' : '/bundles/oxygenutility/images/cancel.png',
      'scriptData': {'directory':path{% block extraData %}{% endblock %}}, 
      'multi'     : true,
      'auto'      : true
    }); 
  });
});
</script>
<form action="" method="POST">
  {{ form_widget(form) }}
</form>